:root {
    --main-background-color: #EAEBED;
    --body-background-color: #C9BAFF;
    --sec-operators-background-color: #EAEBED;
    --numbers-background-color: #FFFFFF;
    --color-text-main: #2E3A48;
    --color-border-history: #937CE6;
    --color-clear-history: #6344D4;
    --color-text-history: #937CE6;
    --color-svg-image: #937CE6;
}

